.text-align-end {
    text-align: end;
}

.background-red {
    background-color: red
}

.background-blue {
    background-color: blue
}

.background-green {
    background-color: green
}

.small-font {
    font-size: small
}

.medium-font {
    font-size: medium
}

.large-font {
    font-size: large
}